img{
    width: 20%;
    position: absolute;
    top:10rem;
}
.tb1 tr th{
    border: 1px solid #000;
    width: 70%;
}
.tb1{
    border-collapse: collapse;
    padding: 10px;
    left: 20rem;
    top: 10rem;
    position: absolute;
}
