.hcn{
    border: 6px solid black;
    width: 400px;
    height: 122px;
    border-radius: 6%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.hcn1{
    border: 5px solid #7c69de;
    width: 200px;
    height: 120px;
    border-radius: 36%;
    align-items: center;
    margin-top: -1px;
}
.hcn2{
    border: 5px solid #7d1816;
    width: 200px;
    height: 120px;
    border-radius: 36%;
    margin-left: -10px;
}